.gallerySection {
  height: calc(100vh - 111px);
  margin: 0;
  padding: 0 50px;
  background-color: #fff;
  z-index: 1; }

.gallerySection * {
  margin: 0;
  padding: 0;
  overflow: visible; }

.hiddenDiv {
  visibility: hidden; }

.horizontalCardStack {
  display: flex;
  flex-direction: row; }

.cardImage {
  width: 100%;
  min-width: 100%;
  display: block;
  object-fit: contain; }

.horizontalStackedCardPhaseTwo {
  display: none; }

.horizontalStackedCard {
  background: transparent;
  perspective: 1000px;
  height: fit-content;
  width: 12.5vw; }

.horizontalStackedCard .innerCardDiv {
  background-color: red;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  width: 100%;
  height: fit-content;
  text-align: center; }

.horizontalStackedCard .innerCardDiv .cardFront, .horizontalStackedCard .innerCardDiv .cardBack {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%; }

.horizontalStackedCard .innerCardDiv .cardBack {
  transform: rotateY(180deg); }
