.gallerySection {
    height: calc(100vh - 111px);
    margin: 0;
    padding: 0;
}
.gallerySection * {
    margin: 0;
    padding: 0;
    // overflow-x: hidden;
}

.hiddenDiv {
    visibility: hidden;
}

.horizontalCardStack {
    display: flex;
    flex-direction: row;
    // overflow-x: unset;
}
.cardImage{
    // width: unset;
    height: 100%;
    width: 100%;
}

.horizontalStackedCard {
    background: transparent;
    perspective: 1000px;
    height: 500px;
    width: 200px;
    .innerCardDiv{
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.8s;
        width: 100%;
        height: 100%;
        text-align: center;
    .cardFront, .cardBack{
        position: absolute;
        -webkit-backface-visibility: hidden; 
        backface-visibility: hidden;
        width: 100%;
        height: 100%;
    }
    .cardBack{
        transform: rotateY(180deg);
    }
}
}

// .horizontalStackedCard:hover .innerCardDiv {
//         transform: rotateY(180deg);
// }


